[submodule "micrograd"]
	path = micrograd
	url = git@github.com:kokamido/micrograd.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:ggerganov/llama.cpp.git
